body {
    font-family: 'Open Sans', sans-serif;
}

article img {
    max-width: 100%;
}
/* reduce all markdown h by a fair amount to make a difference to the article header*/
h1:not(.headline){
    font-size:         calc(100% + 0.8rem);
    font-size: -webkit-calc(100% + 0.8rem); 
}
h2:not(.headline){
    font-size:         calc(100% + 0.6rem);
    font-size: -webkit-calc(100% + 0.6rem); 
}
h3:not(.headline){
    font-size:         calc(100% + 0.4rem);
    font-size: -webkit-calc(100% + 0.4rem); 
}
h4:not(.headline){
    font-size:         calc(100% + 0.2rem);
    font-size: -webkit-calc(100% + 0.2rem); 
}
h5:not(.headline){
    font-size:         calc(100%);
    font-size: -webkit-calc(100%); 
}

/* have a bit more room around headlines */
h1:not(.headline), h2:not(.headline) {
    margin-top: 1.2rem;
    margin-bottom: .8rem;
}

h1 {
    font-weight: 300;
}

.nav-item {
    font-size: 1.8rem;
}

hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

article > header {
    margin-bottom: 2rem;
}

.meta {
    color: #666;
    margin-bottom: 1rem;
    font-size: .8em;
}

body > .container > header {
    margin-bottom: 5rem;
}

body > footer {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

footer a.nav-link {
    font-size: 1.5rem;
}

pre {
    background-color: #ededed;
    border-radius: .25em;
    padding: 1em;
}

p > code {
    background-color: #ededed;
    border-radius: .25em;
    padding: .1em .5em;
    margin: 0em .1em;
}

.card {
    min-height: 15em;
    margin-bottom: 2rem;
}

.card > .card-link {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.card > .card-link:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(70,183,29,0.7);
    -moz-box-shadow: 0px 0px 10px 0px rgba(70,183,29,0.7);
    box-shadow: 0px 0px 10px 0px rgba(70,183,29,0.7);
}

.border-dark {
    border-color: #ececec !important;
}

.img-thumbnail.horizontal {
    display: inline-block !important;
}

.img-thumbnail.spacing {
    margin: 10px;
}

figcaption {
    font-size: 0.8em;
}

.project-image-single {
    margin-bottom: 0.5em;
    max-width: 50%;
    max-height: 20em;
    padding: 5px;
    border: solid 1px #EFEFEF;
    border-radius: 5px;
}

#reaktorstatus {
    width: 20rem;
}

#apijson {
    margin-top: 2rem;
    background-color: #FBFBFB;
    border-radius: 0.3rem;
    padding: 1rem;
}

blockquote {
    padding: 5px 5px 5px 5px;
    background-color: var(--light);
    border-left: 3px solid var(--primary);
}

blockquote > p {
    margin: unset;
}
