{{ define "main" }}
{{ range .Data.Pages }}
<div class="talk-timeline">
  <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">{{ .Date.Format "2006-01-02" }}</time>
  <div class="timeline"><div></div></div>
  <div class="card">
    <a href="{{ .Permalink }}" class="card-link"></a>
    <div class="card-body">
      <h5 class="card-title">{{ .Title }}</h5>
      <p class="card-text">{{ .Description }}</p>
      <p class="card-text">by {{ .Params.Author }}</p>
    </div>
  </div>
</div>
{{ end }}
{{ end }}
