{{ define "main" }}
{{- range $i, $e := (first 5 (where $.Site.RegularPages "Section" "blog")) }}
{{- if gt $i 0 }}
<hr>
{{- end }}
<article>
    <header>
        <h1 class="headline"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        <div class="meta">
            {{- if .Params.Author }}
            <span class="author">by {{ .Params.Author }}
                {{ if and (not .Date.IsZero) (.Params.author) }} - {{ end }}
            </span>
            {{- end }}
            {{- if not .Date.IsZero }}
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">{{ .Date.Format "2006-01-02" }}</time>
            {{- end }}
        </div>
    </header>
    {{ .Content }}
</article>
{{- end }}
{{ end }}
