{{ define "main" }}
<article>
    <header>
        <h1 class="headline my-3"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        <div class="meta">
            {{ if .Params.Author }}
            <span class="author">by {{ .Params.Author }} 
                {{ if and (not .Date.IsZero) (.Params.author) }} - {{ end }}
            </span>
            {{ end }}
            {{ if not .Date.IsZero }}
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">{{ .Date.Format "2006-01-02" }}</time>
            {{ end }}
        </div>
        <div>
        <div class="project-image-frame">
            <img class="project-image-single" src="{{ .Params.image }}" alt="Project image">
        </div>
        </div>
    </header>
    {{ if .Params.toc }}
    <aside class="panel panel-default">
        <div class="panel-heading">Table Of Conent</div>
        <div class="panel-body">
            {{ .TableOfContents }}
        </div>
    </aside>
    {{ end }}
    {{ .Content }}
</article>
{{ end }}
