			<footer class="navbar">
				<hr>
				<div class="container-fluid">
					<ul class="nav navbar-nav navbar-right">
						{{ $currentPage := . }}
						{{ range .Site.Menus.foot }}
						<li>
							<a href="{{ .URL }}">
								<span>{{ .Name }}</span>
							</a>
						</li>
						{{end}}
						{{ if .RSSLink }}
						<li><a href="{{ .RSSLink }}">RSS</a></li>
						{{ end }}
					</ul>
				</div>
			</footer>
		</div>

		<script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script>
		<script src="{{ .Site.BaseURL }}/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"></script>
	</body>
</html>
