<footer>
    <div class="footer-copyright text-center py-3">
        {{- $currentPage := . }}
        {{- range .Site.Menus.foot }}
        <a href="{{ .URL }}" class="text-muted">{{ .Name }}</a>
        {{- end }}
        {{- if .RSSLink }}
        <span class="text-muted px-2">&bull;</span>
        <a href="{{ .RSSLink }}" class="text-muted">RSS</a>
        {{- end }}
    </div>
</footer>

<script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/bootstrap.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/reaktorstatus.js"></script>
</body>
</html>
